filebeat.inputs:
{%- for name in appX_log_names %}

  - type: log
    paths:
    {% if name == 'appX' %}
      - '{{ filebeat_appX_logs_path }}{{ name }}.log'
    multiline.pattern: '^\d{2}.\d{2}.\d{4} '
    encoding: "cp852"
    {%- else %}
      - '{{ filebeat_appX_logs_path }}{{ name }}.log'
    multiline.pattern: '^\d{2}/\d{2}/\d{4} '
    {%- endif %}
    tags: ["{{ name }}"]
    multiline.negate: true
    multiline.match: after
  {%- endfor %}

output.logstash:
  hosts: ["{{ elk_server_ip }}:{{ logstash_port }}"]
